/* 
Common
******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
}


/* 
Utility
******************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.layover {
    background-color: rgba(95, 7, 7, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
}


/* 
Header
******************/

.logo {
    margin-bottom: 1.5rem;
}

.logo img {
    width: 13rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
    border-right: 1px solid #e5e5e5;
}

.navigation-bar>div {
    float: left;
    margin-right: 1rem;
}

.navigation-bar a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #bfbfbf;
}

.navigation-bar a:visited {
    color: #bfbfbf;
}

.navigation-bar a:hover {
    color: lightpink;
}

.navigation-bar a:active {
    color: lightblue;
}


/* 
Main
******************/

main>div {
    margin-bottom: 3rem;
}

.site-main {
    margin: 3rem auto;
}


/* hero-img */

.hero-img {
    position: relative;
    background-image: linear-gradient(rgba(95, 7, 7, 0.2), rgba(95, 7, 7, 0.2)), url("./../../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.hero-title {
    color: white;
    width: 50%;
    padding: 0.5%;
    position: absolute;
    bottom: 4.5rem;
    left: 4rem;
}

.hero-title>div {
    height: 49.5%;
}

.hero-title h1 {
    font-weight: 400;
    font-size: 2.75rem;
}

.hero-title p {
    font-size: 1.5rem;
}


/* leadership */

.lead-title {
    font-size: 3rem;
}

.lead-description {
    color: #bfbfbf;
    font-size: 1.3rem;
    font-weight:
}


/* grid */

.grid {}

.row {
    margin-bottom: 0.5rem;
}

.row h3,
p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.row p {
    color: #bfbfbf;
}

.row img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

.row>.img {
    position: relative;
    float: left;
}

.row>.description {
    float: left;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 46%;
    margin: 0 2%;
}

.col3 {
    width: 25%;
}


/* 
Footer
******************/

.site-footer {
    color: #666666;
    text-align: center;
    padding: 1.5rem 0;
}

.site-footer>p span::before {
    color: red;
    content: "\2764";
}